.env
.env.*
backend/.env
frontend/.env
serviceAccountKey.json







node_modules/
backend/node_modules/
frontend/node_modules/
*.log
backend-dev.err.log
backend-dev.out.log
frontend-dev.err.log
frontend-dev.out.log
dist/
build/
.env
.env.*
backend/.env
frontend/.env
serviceAccountKey.json


node_modules/
backend/node_modules/
frontend/node_modules/
*.log
dist/
build/
.env
.env.*
